.link {
	stroke: #ccc;
	fill: none;
	stroke-width: 4pt;
}

.node text {
	pointer-events:none;
	font: 10px sans-serif;
}

.legend {
	font: 10px sans-serif;
	background: #FF0;
	box-shadow: 2px 2px 1px #888;
	padding: 5px;
}